body{
   text-align: center; 
   /* background-image: url('universe4.jpg'); */
}
#board{
    /* text-align: center; */
    background-image: url('bg2.webp');
    border-radius: 10px;
    background-size: cover; 
}